.container {
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    text-align: center;
    margin: 0 auto;
}

.box-type {
    width: 300px;
    min-width: max-content;
    margin: 10px auto;
    height: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.teachers {
    background-color: grey;
    color: white;
}

.pm {
    background-color: green;
    color: white;
}

.gatto {
    background-color: hotpink;
    color: white;
}